@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

.space {
    background-color: rgba(0, 0, 0, 0.897);
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }



  .profiles {
    text-align: center;
    width: 100%;

    .info {
      p {
        color: whitesmoke;
        font-size: 80px;
        font-weight: 500;
        margin-bottom: 30px;
        font-family:  serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
    }

   .images {
  display: flex;
  justify-content: center;
  gap: 40px; 
  flex-wrap: wrap;
  margin-bottom: 30px;

  .profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: grey;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      color: #e7dfdf;
    }

    p{
        color: grey;
    }

    img {
      width: 120px; 
      height: 120px;
      border-radius: 4px;
      object-fit: cover;
      border: 3px solid transparent;
      margin-bottom: 10px; 
      border-radius: 10px;

      &:hover {
        border-color: #e7dfdf;
      }
    }

    p {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      margin: 0;
      text-align: center;
    }
  }
}

    button {
      font-size: 20px;
      font-weight: 500;
      margin-top: 30px;
      padding: 10px 20px;
      background-color: transparent;
      color: rgb(97, 93, 93);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid darkgray;

      &:hover{
        color: rgb(209, 196, 196);
        border: 1px solid darkgray;
      }
    }
  }
  
}
@media screen and (max-width: 768px) and (min-height: 1024px) {
  .space {
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: 820px) and (min-height: 1180px) {
  .space {
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 420px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (min-height: 1366px) {
  .space {
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 560px;
        }
      }
    }
  }
}
@media screen and (max-width: 853px) and (min-height: 1280px) {
  .space {
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 460px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (min-height: 600px) {
  .space {
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 590px;
        }
      }
    }
  }
}
@media screen and (max-width: 344px) and (min-height: 882px) {
  .space {
    overflow-x: hidden;
    .container {
      height: 100%; 
      padding: 0 10px; 
    }
    .profiles {
      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          margin-left: 70px;
        }
      }
    }
    .images {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        padding: 10px 0;
        margin: 0 auto;

        .profile-item {
          flex: 0 0 auto;
          margin-right: 16px;

          img {
            width: 70px;
            height: 70px;
          }

          p {
            font-size: 13px;
          }
        }
      }

      button {
        font-size: 14px;
        padding: 8px 16px;
      }
    }
  }






@media screen and (max-width: 540px) and (max-height: 720px) {
  .space {
    .profiles {
      .info {
        p {
          font-size: 24px; 
          margin-left: 120px;
          text-align: center;
        }
      }

      .images {
        flex-wrap: wrap;
        overflow-x: auto;
        justify-content: flex-start;
        padding: 10px;

        .profile-item {
          flex:auto;
          

          img {
            width: 80px;
            height: 80px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

