.TvShowNavBar {
  color: rgba(0, 0, 0, 0.945);
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.6s ease-in-out;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 68px;

  &.scrolled {
    background-color: rgb(17, 17, 17);
  }

  .categories {
    padding-top: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 30px;

  


    .fall {
      margin: 0 20px;
      font-size: 39px;
      font-weight: 500;
      color: #ffffff;
    }
    select {
    }
    .parent {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 0px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.87);
      // padding: 1px 20px 1px 10px;
      width: 390px;
      font-size: 13px;

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div3 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div4 {
        grid-area: 4 / 1 / 5 / 2;
      }
      .div5 {
        grid-area: 5 / 1 / 6 / 2;
      }
      .div6 {
        grid-area: 6 / 1 / 7 / 2;
      }
      .div7 {
        grid-area: 7 / 1 / 8 / 2;
      }
      .div8 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div9 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div10 {
        grid-area: 3 / 2 / 4 / 3;
      }
      .div11 {
        grid-area: 4 / 2 / 5 / 3;
      }
      .div12 {
        grid-area: 5 / 2 / 6 / 3;
      }
      .div13 {
        grid-area: 6 / 2 / 7 / 3;
      }
      .div14 {
        grid-area: 7 / 2 / 8 / 3;
      }
      .div15 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div16 {
        grid-area: 2 / 3 / 3 / 4;
      }
      .div17 {
        grid-area: 3 / 3 / 4 / 4;
      }
      .div18 {
        grid-area: 4 / 3 / 5 / 4;
      }
      .div19 {
        grid-area: 5 / 3 / 6 / 4;
      }
    }
    .parent.show {
      display: none;
    }
    .genre {
      position: relative;
      border: 1px solid white;
      background-color: black;
      cursor: pointer;
      box-sizing: border-box;
      width: 100px;
      margin-right: auto;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      height: 2rem;
      letter-spacing: 1px;
      line-height: 2rem;
      padding-left: 10px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 26px;
      padding-right: 40px;

      &:hover {
        background-color: transparent;
      }
      .triangle {
        position: absolute;
        left: 65%;
        bottom: 15%;
      }
    }
    button {
      background-color: transparent;
      outline: none;
      border: 0.5px solid #949494;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;

      &:hover {
        border: 0.5px solid white;
      }
      .ikonic {
        color: #949494;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  a {
    color: #ffffff;
  }
}

.friendsW {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: black;

  .navigationBar {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
    }

    img {
      height: 35px;
      margin-right: 40px;
      cursor: pointer;
    }
    span {
      margin-right: 25px;
      cursor: pointer;
      color: rgba(216, 213, 213, 0.37);
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: darkgray;
      }
    }
    .navLink {
      text-decoration: none;
      color: inherit;

      &:hover {
        opacity: 0.8;
      }

      span {
        margin-right: 25px;
        cursor: pointer;
      }
    }
  }

  img {
    width: 150px;
    padding-top: 9px;
    margin-left: 70px;
    cursor: pointer;
  }

  .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: white;
  }
  
@media screen and (max-width: 768px) {
  .TvShowNavBar {
    height: auto;
    .categories {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;

      .fall {
        font-size: 28px;
        margin-bottom: 10px;
      }

      .genre {
        width: 100%;
        margin-bottom: 10px;

        .triangle {
          left: 90%;
        }

        .parent {
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
        }
      }

      .buttohns {
        display: flex;
        gap: 10px;
      }

      button {
        padding: 8px 12px;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .TvShowNavBar .categories .fall {
    font-size: 22px;
  }

  .TvShowNavBar .categories .genre .parent {
    grid-template-columns: repeat(1, 1fr);
    font-size: 12px;
  }

  .TvShowNavBar .categories .genre .triangle {
    left: 85%;
  }
}

}
