.rowItem{
    width: 225px;
    height: 120px;
    background-color: rgba(41, 40, 40, 0.37);
    overflow: hidden;
    margin-right: 5px;
    margin-top: 20px;
    gap: 20px;


    .RowListItem {
    position: relative;
    width: 100%;
    gap: 20px;
    overflow: hidden;
    }

    .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px 30px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 1 / 2 / 2 / 3; }
    .div7 { grid-area: 1 / 3 / 2 / 4; }
    .div8 { grid-area: 1 / 4 / 2 / 5; }
    .div9 { grid-area: 1 / 5 / 2 / 6; }
    .div10 { grid-area: 2 / 2 / 5 / 6; } 


  .nextItem {
  position: relative;
  overflow: hidden;
  gap: 20px;
  }

  .actionLet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  }

  .actionLet video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

    &:hover{
        width: 300px;
        height: 300px;
        transform: scale(1.05)  translateY(-5px);
        z-index: 10;
        box-shadow: 1px -4px 13px 2px rgba(27, 27, 27, 0.75);
        -webkit-box-shadow: 1px -4px 13px 2px rgba(26, 26, 26, 0.75);
        -moz-box-shadow: 1px -4px 13px 2px rgba(39, 39, 39, 0.75);
        border-radius: 5px;
    }
    img{
        height: 150px;
    }
}

