.home{
    background-color: rgba(10, 10, 10, 0.952);
    color: antiquewhite;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
.listContainer {
    margin-top: 20px;
}
}
  

@media screen and (max-width: 768px) {
.listContainer {
     margin-top: 15px;
}
}
  

@media screen and (max-width: 600px) {
.listContainer {
    margin-top: 10px;
}
}

